<div class="card mb-3">
  <h2 class="card-header h4">
    Membership #<%= membership.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd><%= membership.user %></dd>

      <dt>Team</dt>
      <dd><%= membership.team %></dd>

      <dt>Role</dt>
      <dd><%= membership.role %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back membership, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_membership_url(membership), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to membership, method: :delete, data: { confirm: "Do you really want to delete this membership?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(membership.updated_at) %> ago
  </div>
</div>
