<% was_validated = membership.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(membership, html: form_html_options) do |f| %>
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = membership.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user %>

    <%= f.text_field :user, class: user_class, placeholder: "Enter user" %>
    <% if user_was_invalid %>
      <% membership.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% team_class = "form-control" %>
    <% team_was_invalid = membership.errors.include?(:team) %>

    <% if was_validated %>
      <% if team_was_invalid %>
        <% team_class << " is-invalid" %>
      <% else %>
        <% team_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :team %>

    <%= f.text_field :team, class: team_class, placeholder: "Enter team" %>
    <% if team_was_invalid %>
      <% membership.errors.full_messages_for(:team).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% role_class = "form-control" %>
    <% role_was_invalid = membership.errors.include?(:role) %>

    <% if was_validated %>
      <% if role_was_invalid %>
        <% role_class << " is-invalid" %>
      <% else %>
        <% role_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :role %>

    <%= f.text_field :role, class: role_class, placeholder: "Enter role" %>
    <% if role_was_invalid %>
      <% membership.errors.full_messages_for(:role).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
