<% was_validated = topic.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(topic, html: form_html_options) do |f| %>
  <div class="form-group">
    <% room_class = "form-control" %>
    <% room_was_invalid = topic.errors.include?(:room) %>

    <% if was_validated %>
      <% if room_was_invalid %>
        <% room_class << " is-invalid" %>
      <% else %>
        <% room_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :room %>

    <%= f.text_field :room, class: room_class, placeholder: "Enter room" %>
    <% if room_was_invalid %>
      <% topic.errors.full_messages_for(:room).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <% name_class = "form-control" %>
    <% name_was_invalid = topic.errors.include?(:name) %>

    <% if was_validated %>
      <% if name_was_invalid %>
        <% name_class << " is-invalid" %>
      <% else %>
        <% name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :name %>

    <%= f.text_field :name, class: name_class, placeholder: "Enter name" %>
    <% if name_was_invalid %>
      <% topic.errors.full_messages_for(:name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
