<tr>
  <td>
    <%= topic.room %>
  </td>

  <td>
    <%= topic.name %>
  </td>

  <td>
    <div class="btn-group">
      <%= link_to topic, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-search-plus fa-fw"></i>
      <% end %>

      <%= link_to edit_topic_url(topic), class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-edit fa-fw"></i>
      <% end %>

      <%= link_to topic, method: :delete, data: { confirm: "Do you really want to delete this topic?" }, class: "btn btn-sm btn-outline-secondary" do %>
        <i class="fas fa-trash-alt fa-fw"></i>
      <% end %>
    </div>
  </td>
</tr>
