<div class="card mb-3">
  <h2 class="card-header h4">
    Room #<%= room.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Name</dt>
      <dd><%= room.name %></dd>

      <dt>Anyone can join</dt>
      <dd><%= room.anyone_can_join %></dd>

      <dt>Creator</dt>
      <dd><%= room.creator %></dd>

      <dt>Team</dt>
      <dd><%= room.team %></dd>

      <dt>Hidden</dt>
      <dd><%= room.hidden %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back room, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_room_url(room), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to room, method: :delete, data: { confirm: "Do you really want to delete this room?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(room.updated_at) %> ago
  </div>
</div>
